<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<link rel='stylesheet' href="{{url_for('static',filename='styles/home.css')}}">
<title>AI aggregator</title>
<script>
    var x ="", i;
    for (i=0; i<40; i++) {
      x = x + "<li><a href="+ "{{nlink[i]}}"+ "> {{news[i]}} </a></li>";
    }
    document.getElementById("newslist").innerHTML = x;
</script>
</head>
<body>
    <div class="fixed-header">
        <div class="container">
            <nav>
                <a href="{{url_for('homepage')}}" style='font-size: 25px;'> AAAI </a>
                <a href="{{url_for('paperspage')}}">Papers</a>
                <a href="{{url_for('newspage')}}">News</a>
                <a href="{{url_for('aboutpage')}}">About</a>
                <a href="#">Services</a>
                <a href="#">Contact us</a>
            </nav>
        </div>
    </div>
    
    <div class='container'> 
        <h2>Latest News</h2>
        <ul id='newslist'>
            <li> <a href='{{nlink[0]}}'> {{news[0]}} </a> </li>
            <li> <a href='{{nlink[1]}}'> {{news[1]}} </a> </li>
            <li> <a href='{{nlink[2]}}'> {{news[2]}} </a> </li>
            <li> <a href='{{nlink[3]}}'> {{news[3]}} </a> </li>
            <li> <a href='{{nlink[4]}}'> {{news[4]}} </a> </li>
            <li> <a href='{{nlink[5]}}'> {{news[5]}} </a> </li>
            <li> <a href='{{nlink[6]}}'> {{news[6]}} </a> </li>
            <li> <a href='{{nlink[7]}}'> {{news[7]}} </a> </li>
            <li> <a href='{{nlink[8]}}'> {{news[8]}} </a> </li>
            <li> <a href='{{nlink[9]}}'> {{news[9]}} </a> </li>
            <li> <a href='{{nlink[10]}}'> {{news[10]}} </a> </li>
            <li> <a href='{{nlink[11]}}'> {{news[11]}} </a> </li>
            <li> <a href='{{nlink[12]}}'> {{news[12]}} </a> </li>
            <li> <a href='{{nlink[13]}}'> {{news[13]}} </a> </li>
            <li> <a href='{{nlink[14]}}'> {{news[14]}} </a> </li>
            <li> <a href='{{nlink[15]}}'> {{news[15]}} </a> </li>
            <li> <a href='{{nlink[16]}}'> {{news[16]}} </a> </li>
            <li> <a href='{{nlink[17]}}'> {{news[17]}} </a> </li>
            <li> <a href='{{nlink[18]}}'> {{news[18]}} </a> </li>
            <li> <a href='{{nlink[19]}}'> {{news[19]}} </a> </li>
            <li> <a href='{{nlink[20]}}'> {{news[20]}} </a> </li>
            <li> <a href='{{nlink[21]}}'> {{news[21]}} </a> </li>
            <li> <a href='{{nlink[22]}}'> {{news[22]}} </a> </li>
            <li> <a href='{{nlink[23]}}'> {{news[23]}} </a> </li>
            <li> <a href='{{nlink[24]}}'> {{news[24]}} </a> </li>
            <li> <a href='{{nlink[25]}}'> {{news[25]}} </a> </li>
            <li> <a href='{{nlink[26]}}'> {{news[26]}} </a> </li>
            <li> <a href='{{nlink[27]}}'> {{news[27]}} </a> </li>
            <li> <a href='{{nlink[28]}}'> {{news[28]}} </a> </li>
            <li> <a href='{{nlink[29]}}'> {{news[29]}} </a> </li>
            <li> <a href='{{nlink[30]}}'> {{news[30]}} </a> </li>
            <li> <a href='{{nlink[31]}}'> {{news[31]}} </a> </li>
            <li> <a href='{{nlink[32]}}'> {{news[32]}} </a> </li>
            <li> <a href='{{nlink[33]}}'> {{news[33]}} </a> </li>
            <li> <a href='{{nlink[34]}}'> {{news[34]}} </a> </li>
            <li> <a href='{{nlink[35]}}'> {{news[35]}} </a> </li>
            <li> <a href='{{nlink[36]}}'> {{news[36]}} </a> </li>
            <li> <a href='{{nlink[37]}}'> {{news[37]}} </a> </li>
            <li> <a href='{{nlink[38]}}'> {{news[38]}} </a> </li>
        </ul>
    </div>
</body>
</html>