<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<link rel='stylesheet' href="{{url_for('static',filename='styles/home.css')}}">
<title>AI aggregator</title>
</head>
<body>
    <div class="fixed-header">
        <div class="container">
            <nav>
                <a href="{{url_for('homepage')}}" style='font-size: 25px;'> AAAI </a>
                <a href="{{url_for('newspage')}}">News</a>
                <a href="{{url_for('paperspage')}}">Papers</a>
                <a href="{{url_for('aboutpage')}}">About</a>
            </nav>
        </div>
    </div>
    
    <div class='container'> 
        <h2>Latest News</h2>
        {% for source in news: %}
        <div class='card'> 
            <h2>{{source}}</h2>
            <ul style="list-style: none; padding-left: 2px;">
            {% for d in news[source][:10]: %}
            <li style="padding: 0px 20px 0px 0; border-bottom: 0.5px solid #eeeded">
                <a href='{{d.link}}' title='{{d.title}}' style='color: black;overflow:hidden; max-width:90%;padding-left:0px;' title>
                    <span class='line'>
                        {{d.title}}
                    </span>
                </a>
            </li>
            {% endfor %}
            </ul>
        </div>
        {% endfor %}
    </div>
</body>
</html>