<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<link rel='stylesheet' href="{{url_for('static',filename='styles/home.css')}}">
<title>AI aggregator</title>
</head>
<body>
    <div class="fixed-header">
        <div class="container">
            <nav>
                <a href="{{url_for('homepage')}}" style='font-size: 25px;'> AAAI </a>
                <a href="{{url_for('paperspage')}}">Papers</a>
                <a href="{{url_for('newspage')}}">News</a>
                <a href="#">About</a>
                <a href="#">Services</a>
                <a href="#">Contact us</a>
            </nav>
        </div>
    </div>
    
    <div class='container'> 
        <h2>Recent Papers</h2>
        <ul>
            <li> <a href={{plink[0]}}> {{papers[0]}} </a> </li>
            <li> <a href={{plink[1]}}> {{papers[1]}} </a> </li>
            <li> <a href={{plink[2]}}> {{papers[2]}} </a> </li>
            <li> <a href={{plink[3]}}> {{papers[3]}} </a> </li>
            <li> <a href={{plink[4]}}> {{papers[4]}} </a> </li>
            <li> <a href={{plink[5]}}> {{papers[5]}} </a> </li>
            <li> <a href={{plink[6]}}> {{papers[6]}} </a> </li>
            <li> <a href={{plink[7]}}> {{papers[7]}} </a> </li>
            <li> <a href={{plink[8]}}> {{papers[8]}} </a> </li>
            <li> <a href={{plink[9]}}> {{papers[9]}} </a> </li>
            <li> <a href={{plink[10]}}> {{papers[10]}} </a> </li>
            <li> <a href='{{plink[11]}}'> {{papers[11]}} </a> </li>
            <li> <a href='{{plink[12]}}'> {{papers[12]}} </a> </li>
            <li> <a href='{{plink[13]}}'> {{papers[13]}} </a> </li>
            <li> <a href='{{plink[14]}}'> {{papers[14]}} </a> </li>
            <li> <a href='{{plink[15]}}'> {{papers[15]}} </a> </li>
            <li> <a href='{{plink[16]}}'> {{papers[16]}} </a> </li>
            <li> <a href='{{plink[17]}}'> {{papers[17]}} </a> </li>
            <li> <a href='{{plink[18]}}'> {{papers[18]}} </a> </li>
            <li> <a href='{{plink[19]}}'> {{papers[19]}} </a> </li>
            <li> <a href='{{plink[20]}}'> {{papers[20]}} </a> </li>
            <li> <a href='{{plink[21]}}'> {{papers[21]}} </a> </li>
            <li> <a href='{{plink[22]}}'> {{papers[22]}} </a> </li>
            <li> <a href='{{plink[23]}}'> {{papers[23]}} </a> </li>
            <li> <a href='{{plink[24]}}'> {{papers[24]}} </a> </li>
            <li> <a href='{{plink[25]}}'> {{papers[25]}} </a> </li>
            <li> <a href='{{plink[26]}}'> {{papers[26]}} </a> </li>
            <li> <a href='{{plink[27]}}'> {{papers[27]}} </a> </li>
            <li> <a href='{{plink[28]}}'> {{papers[28]}} </a> </li>
            <li> <a href='{{plink[29]}}'> {{papers[29]}} </a> </li>
            <li> <a href='{{plink[30]}}'> {{papers[30]}} </a> </li>
            <li> <a href='{{plink[31]}}'> {{papers[31]}} </a> </li>
            <li> <a href='{{plink[32]}}'> {{papers[32]}} </a> </li>
            <li> <a href='{{plink[33]}}'> {{papers[33]}} </a> </li>
            <li> <a href='{{plink[34]}}'> {{papers[34]}} </a> </li>
            <li> <a href='{{plink[35]}}'> {{papers[35]}} </a> </li>
            <li> <a href='{{plink[36]}}'> {{papers[36]}} </a> </li>
            <li> <a href='{{plink[37]}}'> {{papers[37]}} </a> </li>
            <li> <a href='{{plink[38]}}'> {{papers[38]}} </a> </li>
        </ul>
    </div>
</body>
</html>