<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<link rel='stylesheet' href="{{url_for('static',filename='styles/home.css')}}">
<title>AI aggregator</title>
</head>
<body>
    <div class="fixed-header">
        <div class="container">
            <nav>
                <a href="{{url_for('homepage')}}" style='font-size: 25px;'> AAAI </a>
                <a href="{{url_for('newspage')}}">News</a>
                <a href="{{url_for('paperspage')}}">Papers</a>
                <a href="{{url_for('aboutpage')}}">About</a>
            </nav>
        </div>
    </div>
    
    <div class='container'> 
        <h2>Recent Papers</h2>
        <ul>
            {% for title, abstract, link in papers %}
                <li><a href='{{link}}' title='{{abstract}}'  style="color: black; text-decoration:none; border-bottom: 1px solid rgb(187, 183, 183)">{{title}}</a></li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>